.social{
	text-align: center;
}
.social img{
	width: 30%;
	text-align: center;
}
#social-media{
    padding-top: 30px;
    padding-bottom: 70px;

}
#final{
    list-style-type: none;
    color: #707070;
    justify-content: flex-end
}
#contacto{
    background-color: black;
    color: #f9c762;
}

html {
    scroll-behavior: smooth;
}


.textos{
 color:#7D0037;
}
.textos img{
    width: 100%;
}
.boton  a{
    color:#fff;
    background-color:#7D0037;
}
span  :hover{
    color:black;
}
span :active{
    color:whitesmoke;
}

 .imagencurso{
   
    width:  70%;
    height: 60vh;
    

} 
.containercurso img{
    opacity: 0.3;
  }
  .containercurso img:hover{
      opacity: 1.0;
  }

.dates-info {
    margin: 70px 0;
}

.dates-info .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dates-info .container .info-item {
    flex: 1 1;
    text-align: center;
    border: 1px solid #e1e1e1;
}

#navbar{
    font-family: Lato;
    background-color: #000000;
    color: #F9C762;
}

.navbar-dark .navbar-brand{
    color: #F9C762;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.jumbotron {
    padding: 2rem 1rem;
    justify-content: center;
    display: grid;
    color: #7D0037;
}

.display-6 {
    display: flex;
    justify-content: center;
}

#dropdown07{
    color: #F9C762;
}

#nav-autora{
    color: #F9C762;
}

#nav-contacto{
    color: #F9C762;
}

.info-item{
    padding: 30px 0px;
}
