html {
  font-family: 'Lato', sans-serif;
  font-size: large;
  
}

.social {
  text-align: center;
}
.social img {
  width: 30%;
  text-align: center;
}
#social-media {
  padding-top: 30px;
  padding-bottom: 70px;
}
#final {
  list-style-type: none;
  color: #707070;
  justify-content: flex-end;
}
#contacto {
  background-color: black;
  color: #f9c762;
}

html {
  scroll-behavior: smooth;
}

.textos {
  color: #7d0037;
}
.textos img {
  width: 100%;
}
.boton a {
  color: #fff;
  background-color: #7d0037;
}
span :hover {
  color: black;
}
span :active {
  color: whitesmoke;
}

.imagencurso {
  width: 70%;
  height: 60vh;
}

.dates-info {
  margin: 70px 0;
}

.dates-info .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dates-info .container .info-item {
  flex: 1 1;
  text-align: center;
  /* border: 1px solid #e1e1e1; */
}

#navbar {
  font-family: Lato;
  background-color: #000000;
  color: #f9c762;
}
#navbarsExample07 {
  font-family: Lato;
}

.navbar-dark .navbar-brand {
  color: #f9c762;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.jumbotron {
  padding: 2rem 1rem;
  justify-content: center;
  display: grid;
  color: #7d0037;
}

.display-6 {
  display: flex;
  justify-content: center;
}

#dropdown07 {
  color: #f9c762;
}

#nav-autora {
  color: #f9c762;
}

#nav-contacto {
  color: #f9c762;
}

.info-item {
  padding: 30px 0px;
}
.iconos img {
  height: 16vh;
  width: auto;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .imagencurso {
    width: 62%;
    height: 40vh;
  }

  .parrafo {
    font-weight: 600;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  /* STYLES GO HERE */
}
