.social{
	text-align: center;
}
.social img{
	width: 30%;
	text-align: center;
}
#social-media{
    padding-top: 30px;
    padding-bottom: 70px;

}
#final{
    list-style-type: none;
    color: #707070;
}
#contacto{
    background-color: black;
    color: #f9c762;
}

html {
    scroll-behavior: smooth;
}


.textos{
 color: rgb(122, 65, 47);
}
.boton  a{
    color:#fff;
    background-color: #6b1812;
}
span  :hover{
    color:black;
}
span :active{
    color:whitesmoke;
}
